.tela {
    position: relative;
    margin: auto;
    margin-top: 40px;
    border-radius: 20px;
}

.cor-roxo {
    color: #6368D9;
}

/* parte 1 e 2 da página */

#inicial {
    position: absolute;
    width: 360px;
    height: 640px;
    background-color: #F6F2FF;
    margin: auto;
    border-radius: 20px;
    z-index: 999;
}

#titulo {
    position: absolute;
    top: 433px;
    left: 59px;
    font-weight: 800;
}

#btn-seta {
    position: absolute;
    top: 566px;
    left: 293px;
}

#imagem-caderno {
    position: absolute;
    top: 87px;
    left: 31px;
}

/* parte 2 */

#welcome {
    position: absolute;
    top: 150px;
    left: 59px;
}
